* {
	margin: 0;
}

.App {
	background-color: #fafafa;
	height: 100vh;
}

.app__header {
	background-color: white;
	padding: 20px;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app__headerImg {
	object-fit: contain;
}
.app_posts {
	padding: 20px;
	display:flex;
	justify-content: center;
}
